.App {
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.App {
    color: #666666;
    font-size: 4px + 2vmin;
}
.App a {
    color: #666666;
    text-decoration: underline;
}
.App a:hover {
    color: #666666;
    text-decoration: none;
}